{% load static %}
<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Curriculos</title>
</head>
<body>
    <h1>Portal de Curriculos de Astronautas</h1>

    <p>Bem vindo ao Portal de Curriculos de Astronautas</p>

    <p>
        Este Postal é dedicado a mostrar curriculos de astronautas, 
        fornecendo informacoes cruciais de experiencias previas.
    </p>
    <nav>
        <h2>Referencias Externas</h2>
        <a href="https://www.puc-rio.br/">PUC-Rio</a>

        <h2>Curriculos</h2>
        <a href="spiff.html">Spiff</a>
    </nav>
</body>
</html>