{% load static %}
<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculo Astronauta Spiff</title>
    <link rel="stylesheet" href="{% static 'curriculo/css/estilo.css' %}">
</head>
<body>
    <nav>
        <a href="index.html">
            <img src="{% static 'curriculo/img/homeIcon.png' %}" alt="Foto do astronauta Spiff">
        </a>
    </nav>
    <main>
        <h1>Curriculo do Astronauta Spiff</h1>
        <img src="{% static 'curriculo/img/spiffNova.jpg' %}" alt="Foto do astronauta Spiff">
    </main>
</body>
</html>